<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <xacro:arg name="joint_limits" default="$(find unitree_d1_description)/config/joint_limits.yaml" />
    <xacro:arg name="initial_position" default="$(find unitree_d1_description)/config/initial_position.yaml" />

    <xacro:property name="joint_limits_config" value="${xacro.load_yaml('$(arg joint_limits)')}" />
    <xacro:property name="initial_positions_config" value="${xacro.load_yaml('$(arg initial_position)')}" />

    <xacro:macro name="load_joint_limits" params="joint">
    <!-- Position limits -->
        <xacro:property name="min_${joint}_pos"
            value="${joint_limits_config['joint_limits'][joint]['min_position']}" scope="parent" />
        <xacro:property name="max_${joint}_pos"
            value="${joint_limits_config['joint_limits'][joint]['max_position']}" scope="parent" />
    <!-- Velocity limits -->
        <xacro:property name="${joint}_vel"
            value="${joint_limits_config['joint_limits'][joint]['max_velocity']}" scope="parent" />
    <!-- Effort limits -->
        <xacro:property name="${joint}_effort"
            value="${joint_limits_config['joint_limits'][joint]['max_effort']}" scope="parent" />
    <!-- Access initial positions -->
        <xacro:property name="${joint}_initial"
            value="${initial_positions_config['initial_positions'][joint]}" scope="parent" />
    </xacro:macro>

    <!-- Load properties for all 6 joints -->
    <xacro:load_joint_limits joint="joint_1" />
    <xacro:load_joint_limits joint="joint_2" />
    <xacro:load_joint_limits joint="joint_3" />
    <xacro:load_joint_limits joint="joint_4" />
    <xacro:load_joint_limits joint="joint_5" />
    <xacro:load_joint_limits joint="joint_6" />

    <material name="d1_black">
        <color rgba="0.1 0.1 0.1 1"/>
    </material>

    <material name="d1_dark_grey">
        <color rgba="0.25 0.25 0.25 1"/>
    </material>

</robot>